<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container w-50 mt-4">
  <div class="card text-center">

    <div class="card-header">
      <h1 class="text-center text-black-50">Calcular Média</h1>
    </div>
    <div class="card-body text-secondary">
      <form method="GET" action="/media">
        <div class="mb-3">
          <input class="form-control" type="text" name="number1" id="number1" placeholder="Digite o primeiro número" required>
        </div>

        <div class="mb-3">
          <input class="form-control" type="text" name="number2" id="number2" placeholder="Digite o segundo número" required>
        </div>

        <div class="d-md-flex justify-content-md-end">
          <button class="btn btn-secondary"> Calcular média </button>
        </div>
      </form>

      <div class="justify-content text-center">
        <% if(media) { %>
          <p class="alert alert-secondary mt-4"> Média: <%= media %> </p>
        <% } %>

        <% err.map(alert => { %>
          <p class="alert alert-danger mt-4"> <%= alert %> </p>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>